

.contact {
	text-align: center;
	background-color: $secoundaryColor;


	color: $textColor;
}
#formMaterialize{
    background-color: $primaryColor;
    border: $fraimColor solid 1px;
    padding: 20px;
}

#spanNom, #spanMail, #spanPrenom {
    color: rgb(53, 53, 53);
    font-size:10px;
}

#label, #label1, #label2, #label3{
	color:$textColor;
}
#spanMessage{
	position: relative;
	top: 20px;
}