
#index {
	text-align: center;
	background-color: $secoundaryColor;
	color: $textColor;
	padding: 6%;

}

.icons{
	width: 50px;
	position: relative;
	top: 270px;
	padding: 10px;
}	



	.nav-wrapper{
		background-color: $primaryColor;
		
	}
  
.logo{

	padding: 20%;

  font-weight: 100;
  font-size: 30px;
  color:$textColor;
}

.dud{
  color: #757575;
}

nav ul
{
    list-style-type: none;
    display: flex;
	justify-content: center;
	border-bottom: 3px white solid;
	margin-top:-30px;
	margin-bottom:50px;
	box-shadow: 10px 10px 10px $textColor;
}



#btn-nav{
	color: $textColor;
}
#mobil-demo{
	color: $textColor;
}



#formMaterialize{
    background-color: $primaryColor;
	border: $primaryColor solid 5px;
	border: $fraimColor solid 1px;
    padding: 20px;
	text-align: left;
}

#spanNom, #spanMail, #spanPrenom {
    color: grey;
    font-size:10px;
}

